---
import { Image } from "astro:assets";
import mainBanner from "../assets/Pigauto-pg.jpg";
import Bg from "../assets/bg-pigauto.jpg";

import "../styles/global.css";
import Navbar from ".././pages/components/Navbar.astro";

const {
  title = "PIGAUTO สล็อตหมูเว็บตรง PG กำไรดี API แท้ แตกง่าย ไม่มีขั้นต่ำ",
  description = "PIGAUTO สล็อตหมูเว็บตรง ผู้ให้บริการเกมสล็อต PG ระบบ API แท้ ต่างประเทศ แตกง่าย กำไรดี รับเงินเต็มเม็ดเต็มหน่วย ไม่มีขั้นต่ำ มีความปลอดภัย เหมาะกับทุกคน",
  robots = "index, follow",
  ImageOg = "/pro1-2.webp",
} = Astro.props;

const currentPath = Astro.url.pathname;
const canonicalURL = new URL(currentPath, Astro.site);
const ogImageURL = new URL(ImageOg, Astro.site);
---

<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="aJEqiqKlLLyvz2vsNjwLGdFv16xy3gE_E55-C6VaLvA" />
    <meta name="robots" content={robots} />
    <meta name="googlebot" content={robots} />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="preload" href="/fonts/kanit-v17-latin_thai-regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/kanit-v17-latin_thai-700.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/kanit-v17-latin_thai-600.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="canonical" href={canonicalURL} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:site_name" content={title} />
    <meta property="og:locale" content="th_TH" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImageURL} />

    <style is:global>
      body {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
        background-color: #800000;
        font-weight: 400;
        font-family: "Kanit", sans-serif !important;
        color: white;
      }
    </style>
  </head>

  <body class="relative min-h-screen w-full">
    <Image
      src={Bg}
      alt="Website Background"
      loading="eager"
      widths={[412, 768, 1024, 1900]}
      sizes="100vw"
      format="avif"
      class="fixed inset-0 -z-50 h-full w-full object-cover"
      quality="low"
      decoding="sync"
    />
    <Navbar />
    <div class="mb-2.5 flex w-full flex-1 items-center justify-center">
      <Image
        src={mainBanner}
        alt="Pigauto"
        loading="eager"
        fetchpriority="high"
        widths={[412, 768, 1900]}
        sizes="(max-width: 768px) 412px, 100vw"
        class="mx-auto h-auto w-full max-w-full object-contain shadow-xl"
        decoding="sync"
        format="avif"
        quality={60}
      />
    </div>
    <slot />
  </body>
</html>
